<h1> Book Search </h1>

<div>
  <input type="text" id="input" name="input" placeholder="Search Book by Title" [(ngModel)]="inputText">
  <button type="submit" (click)="searchBook()">Search</button>
<div id="message"[innerHTML]="titleMessage"></div>
</div>
<br>
<div>
  <input type="text" id="input" name="input" placeholder="Search Author by ID" [(ngModel)]="inputNumber">
  <button type="submit" (click)="searchAuthor()">Search</button>
  <div id="message" [innerHTML]="authorMessage"></div>
</div>

